# Системные файлы Python
__pycache__/
*.pyc
*.pyo

# Файлы виртуального окружения
venv/
env/

# Файлы редактора VSCode
.vscode/

# База данных 
*.db
*.sqlite
*.sqlite3

# Секретный файл конфигурации
config.py